body {
    margin: 0;
    font-family: Source Sans Pro;
    background: #1e1e1e;
    color: #d4d4d4;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    transition: all .2s;
}

.navbar a{
    text-decoration: none;
    color: #d4d4d4;
    padding: 10px;
}

.navbar a:hover{
    opacity: .8;
}

.team-container {
    margin: 20px;
    width: 390px;
    height: 700px;
    background: #333333;
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.select-team {
    text-align: center;
    background: #252526;
    border-radius: 5px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

.select-team button {
    border: 0px solid white;
    background: transparent;
    color: #a4a4a4;
    width: 49%;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
}

.select-team button:hover {
    color: #d4d4d4;
}

.tablinks {
    font-family: Source Sans Pro;
}

.tabcontent {
    display: none;
}

.click-the-button {
    position: absolute;
    margin-left: 10px;
}

/* Start Table Styles */
table {
    position: absolute;
    text-align: center;
    width: 390px;
    padding: 10px;
    border: none;
    border-collapse: collapse;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

th {
    width: 20px;
    background: #252526;
    border-bottom: 1px solid #a4a4a4;
}

tr span {
    opacity: .9;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

tr:nth-child(odd) {
    background: #252526;
}

.td-player {
    text-align: left;
}

.td-number {
    opacity: .9;
}

/* End Table Styles */
.auto-button {
    cursor: pointer;
    transform: translate(198px, 555px);
    border: none;
    padding: 20px;
    background: #252526;
    bottom: 0;
    left: 0;
    color: #d4d4d4;
    width: 185px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    font-family: Source Sans Pro;
    transition: all .2s ease;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.auto-button:hover {
    background: #25252686;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}


.pitch-button {
    cursor: pointer;
    transform: translate(4px, 420px);
    border: none;
    padding: 20px;
    background: #252526;
    bottom: 0;
    left: 0;
    color: #d4d4d4;
    width: 380px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    font-family: Source Sans Pro;
    transition: all .2s ease;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.pitch-button:hover {
    background: #25252686;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.reset-button {
    cursor: pointer;
    transform: translate(4px, 430px);
    border: none;
    padding: 20px;
    background: #252526;
    bottom: 0;
    left: 0;
    color: #d4d4d4;
    width: 185px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 900;
    font-family: Source Sans Pro;
    transition: all .2s ease;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

.reset-button:hover {
    background: #25252686;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}


.container {
    border: 1px solid red;
    width: 10%;
}

.field {
    width: 500px;
    height: 500px;
    background: green;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.rubber {
    background: white;
    height: 10px;
    width: 50px;
    position: absolute;
    transform: translate(180px, 200px) rotate(-45deg);
}

.ball {
    background: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    transform: translate(15px, 0px);
}

.pitch {
    animation: pitch .5s;
}

.base {
    height: 30px;
    width: 30px;
    background: white;
    margin-left: 10px;
    margin-top: 5px;
}

.base1 {
    transform: translate(450px, 5px);
}

.base2 {
    transform: translate(0px, -30px);
}

.base3 {
    transform: translate(0px, 385px);
}

.base4 {
    transform: translate(450px, 350px);
    clip-path: polygon(60% 0, 100% 40%, 100% 100%, 40% 100%, 0 60%);
}

@keyframes pitch {
    0% {
        transform: translate(15px, 0px);
    }
    100% {
        transform: translate(15px, 380px);
    }
}

@media only screen and (max-width: 600px) {
    .field {
      display: none;
    }
    
    .navbar {
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        margin: 10px;
        text-align: center;
        transition: all .2s;
    }
    
    .navbar a{
        font-size: 16px;
        text-decoration: none;
        color: #d4d4d4;
        padding: 10px;
    }

    .team-container {
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 0;
        width: 390px;
        height: 1000px;
        background: #333333;
        border-radius: 5px;
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    }

    .mobile-scoreboard {
        
    }

    .mobile-awayteam-container {
        transform: translate(0px, 380px);
        box-shadow: 0px 10px 63px 21px rgba(0,91,156,0.89);
        background: #005A9C;
        width: 43%;
        padding: 8px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 8px;
        border-radius: 5px;
    }

    .mobile-awayteam {
        font-size: 30px;
        font-weight: 700;
    }

    .mobile-awayscore {
        text-shadow: rgba(212,212,212,0.95) 0px 0px 10px;
        font-weight: 300;
        font-size: 30px;
    }

    .mobile-hometeam-container {
        transform: translate(190px, 334px);
        box-shadow: 0px 10px 40px 21px rgba(0,92,92,0.89);
        /*opacity: .1;*/
        background: #005c5c;
        width: 43%;
        padding: 8px;
        padding-top: 0;
        padding-bottom: 0;
        margin: 8px;
        border-radius: 5px;
    }

    .mobile-hometeam {
        font-size: 30px;
        font-weight: 700;
    }

    .mobile-homescore {
        text-shadow: rgba(212,212,212,0.95) 0px 0px 10px;
        font-weight: 300;
        font-size: 30px;
    }

    .mobile-statline {
        transform: translate(-10px, 364px);
        width: 100%;
        background: #333333;
        color: white;
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
        font-weight: 300;
        box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
    }
    
    #mobile-pitcherName {
        font-weight: 700;
    }
    
    .mobile-pitches {
        font-size: 11px;
    }
    
    #mobile-batterName {
        font-weight: 700;
    }
    
    .mobile-pitcher-stats {
        display: inline-block;
        margin: 10px;
        width: 100%;
    }
    
    .mobile-pitch-stats {
        float: right;
        transform: translate(-30px, 0);
    }
    
    .mobile-batter-stats {
        margin: 10px;
        display: inline-block;
        width: 100%;
    }
    
    .mobile-batter-count {
        float: right;
        transform: translate(-30px, 0);
    }
  }